div.menu {
    background-color: #E6E6E6;
    overflow: auto;
    white-space: nowrap;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

div.menu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.menu a:hover {
    background-color: #777;
}

img { max-width: 100%; }

input[type=text] {
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 30%;
}

#primera-capa  {
text-align: center;
margin: 0 auto;
margin-bottom: 50px;
margin-top: 50px;
padding-bottom: 50px;

}

#primera-capa img {
margin-left: 50px;
margin-right: 20px;
height: 160px;
width: 160px;
}

#conjunto-1 {
text-align: center;
border: thin solid black;
}

#texto-primera-capa {
text-align: center;
}

#content-wapper {
width: 80%;
margin: 0 auto;
text-align: center;
}

#segunda-capa {
background-color: #ffef74;
border: thin solid black;
text-align: left;
margin: 0 auto;
margin-bottom: 50px;
margin-top: 50px;
padding-bottom: 10px;
}

#segunda-capa img {
float: left;
height: 110px;
width: 110px;
}

 #tercera-capa {
   border: thin solid black;
   text-align: left;
   margin: 0 auto;
   margin-bottom: 50px;
   margin-top: 50px;
   padding-bottom: 10px;

 }

input[type=button]:focus {
    width: 10%;
}
